@import '../../variables.scss';

.create-article {
    @include form;
    width: 701px;

    &__tags {
        width: 60%;
    }
}

.delete-button {
    @include delete-button;
    width: 109px;
    margin-left: 20px;
}

.add-button {
    @include add-button;
    width: 109px;
    height: 40px;
    margin-left: 20px;
    position: absolute;
    transform: translate(288px, -45px)
}

.form-button {
    @include form-button;
    width: 320px;
}