@import '../../variables.scss';

.check {
  margin: 10px 20px;
  padding-left: 25px;
  cursor: pointer;
  text-align: left;
  &__input {
    appearance: none;
    cursor: pointer;
    opacity: 0;

    &:checked + .check__box {
      background: center / 80% no-repeat url(../../img/check.svg);
      background-color: $PRIMARY-BLUE;
    }
  }

  &__box {
    position: absolute;
    margin-left: -45px;
    margin-top: 45px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center left;
    border: 1px solid #2196f3;
    border-radius: 2px;
  }

  &::before {
    content: '';
    width: 124%;
    height: 1px;
    background-color: #d9d9d9;
    transform: translate(-43px, 17px);
  }
}
