$BGC-GREY-COLOR: #ebeef3;
$BGC-WHITE-COLOR: #ffffff;

$HEADING-TEXT-BLACK: rgba(0, 0, 0, 0.85);
$PRIMARY-TEXT-GREY: rgba(0, 0, 0, 0.75);
$DISABLED-GREY-LIGTH: rgba(0, 0, 0, 0.35);
$PRIMARY-BLUE: #1890ff;
$INFO-BLUE: #1890ff;
$SUCCESS-GREEN: #52c41a;
$ERROR-RED: #f5222d;
$HIGHLIGHT-RED: #f5222d;

@mixin green-button {
  border: 1px solid $SUCCESS-GREEN;
  border-radius: 5px;
  color: $SUCCESS-GREEN;
  background-color: $BGC-WHITE-COLOR;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tag-button {
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: $BGC-WHITE-COLOR;
  font-size: 0.7rem;
  margin-right: 8px;

  &:disabled {
    color: $DISABLED-GREY-LIGTH;
    border-color: $DISABLED-GREY-LIGTH;
  }
}

@mixin like-button {
  border: none;
  outline: none;
  background-color: $BGC-WHITE-COLOR;
  cursor: pointer;
}

@mixin form-button {
  height: 40px;
  width: 100%;

  margin-top: 21px;

  border: none;
  outline: none;
  border-radius: 4px;

  background-color: $PRIMARY-BLUE;
  color: $BGC-GREY-COLOR;
  cursor: pointer;
}

@mixin form {
  width: 384px;
  // height: 374px;
  margin: 59px auto;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  background-color: $BGC-WHITE-COLOR;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  text-align: center;
  & ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  & label {
    display: flex;
    flex-direction: column;
    text-align-last: left;
    margin-bottom: 12px;
  }
  & legend {
    margin-bottom: 21px;
  }
  & input {
    height: 40px;
    padding-left: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }
  & p {
    color: $DISABLED-GREY-LIGTH;
  }
}
