$BGC-GREY-COLOR: #ebeef3;
$BGC-WHITE-COLOR: #ffffff;

$HEADING-TEXT-BLACK: rgba(0, 0, 0, 0.85);
$PRIMARY-TEXT-GREY: rgba(0, 0, 0, 0.75);
$DISABLED-GREY-LIGTH: rgba(0, 0, 0, 0.35);
$PRIMARY-BLUE: #1890ff;
$INFO-BLUE: #1890ff;
$SUCCESS-GREEN: #52c41a;
$ERROR-RED: #f5222d;
$HIGHLIGHT-RED: #f5222d;

@mixin green-button {
  border: 1px solid $SUCCESS-GREEN;
  border-radius: 5px;
  color: $SUCCESS-GREEN;
  background-color: $BGC-WHITE-COLOR;
  cursor: pointer;
}

@mixin tag-button {
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background-color: $BGC-WHITE-COLOR;
  font-size: 0.7rem;
  margin-right: 8px;

  &:disabled {
    color: $DISABLED-GREY-LIGTH;
    border-color: $DISABLED-GREY-LIGTH;
  }
}

@mixin like-button {
  border: none;
  outline: none;
  background-color: $BGC-WHITE-COLOR;
  cursor: pointer;
}
